:80 {
    encode gzip
    log

    # Roteia o site para o Next.js
    handle_path /* {
        reverse_proxy front:3000
    }

    # Roteia WebSockets para o backend Go
    handle_path /ws* {
        reverse_proxy views:8080 {
            transport http {
                versions h2c 1.1
            }
        }
    }

    # Segurança básica
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
